        html,
        body {
            height: 100%;
            width: 100%;
            font-family: 'Sansita Swashed', cursive;
            background: url("img6.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        h2 {
            color: #DEF1CF;
            font-size: 3rem;
        }
        
        h1 {
            font-family: 'Courgette', cursive;
            font-size: 3rem;
            background: -webkit-linear-gradient(#B32A0D, #E54B2B, #B32A0D);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        h1 strong {
            border-bottom: 3px solid #E54B2B;
        }
        
        .buffer1 {
            height: 11rem;
        }
        
        p {
            font-family: 'Libre Baskerville', serif;
            color: rgba(186, 229, 43, 0.5);
            font-size: 1.5em;
        }
        
        .btn {
            font-family: 'Courgette', cursive;
            font-size: 2rem;
            padding: 3px 20px;
            border-radius: 2rem;
        }
